name: Release

on:
  push:
    branches:
      - main
      - alpha
      - beta
      - next
      - 'next-major'
      - '+([0-9])?(.{+([0-9]),x}).x'

jobs:
  release:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: actions/setup-node@v1
        with:
          node-version: 18.x

      - shell: bash
        run: |
          echo "DOCKER_TAGS=main-${GITHUB_SHA},main,latest" >> $GITHUB_ENV;

      - name: echo DOCKER_TAGS
        shell: bash
        run: |
          echo $DOCKER_TAGS;

      - name: docker login
        run: |
          echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
          echo "$GCR_TOKEN" | docker login ghcr.io -u codfish --password-stdin
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          GCR_TOKEN: ${{ secrets.GCR_TOKEN }}

      - name: docker build
        run: docker build -t codfish/actions-playground:latest .

      - name: semantic release dry run
        uses: codfish/semantic-release-action@upgrade
        id: semantic-dry-run
        with:
          dry-run: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: semantic-release
        uses: codfish/semantic-release-action@upgrade
        id: semantic
        with:
          additional-packages: |
            ['@google/semantic-release-replace-plugin', '@semantic-release/git']
          plugins: |
            [
              '@semantic-release/commit-analyzer',
              [
                '@google/semantic-release-replace-plugin',
                {
                  'replacements': [
                    {
                      'files': ['Dockerfile'],
                      'from': 'RELEASE_VERSION=.*',
                      'to': 'RELEASE_VERSION=${nextRelease.version}',
                      'results': [
                        {
                          'file': 'Dockerfile',
                          'hasChanged': true,
                          'numMatches': 1,
                          'numReplacements': 1
                        }
                      ],
                      'countMatches': true
                    },
                    {
                      'files': ['provisioning/Chart.yml'],
                      'from': 'ersion: .*',
                      'to': 'ersion: ${nextRelease.version}',
                      'results': [
                        {
                          'file': 'provisioning/Chart.yml',
                          'hasChanged': true,
                          'numMatches': 2,
                          'numReplacements': 2
                        }
                      ],
                      'countMatches': true
                    }
                  ]
                }
              ],
              [ '@semantic-release/git', {'assets': ['Dockerfile', 'provisioning/Chart.yml']} ],
              '@semantic-release/release-notes-generator',
              '@semantic-release/npm',
              '@semantic-release/github'
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Dump semantic outputs
        if: steps.semantic-dry-run.outputs.new-release-published == 'true'
        run: |
          echo "Outputs:\n"
          echo "$SEMANTIC_OUTPUTS"
          echo "\n-----\n\nEnvironment Variables:\n"
          echo "NEW_RELEASE_PUBLISHED: $NEW_RELEASE_PUBLISHED"
          echo "RELEASE_VERSION: $RELEASE_VERSION"
          echo "RELEASE_MAJOR: $RELEASE_MAJOR"
          echo "RELEASE_MINOR: $RELEASE_MINOR"
          echo "RELEASE_PATCH: $RELEASE_PATCH"
          echo "RELEASE_NOTES: $RELEASE_NOTES"
          echo "RELEASE_TYPE: $RELEASE_TYPE"
          echo "RELEASE_CHANNEL: $RELEASE_CHANNEL"
          echo "RELEASE_GIT_HEAD: $RELEASE_GIT_HEAD"
          echo "RELEASE_GIT_TAG: $RELEASE_GIT_TAG"
          echo "RELEASE_NAME: $RELEASE_NAME"
        env:
          SEMANTIC_OUTPUTS: ${{ toJson(steps.semantic-dry-run.outputs) }}

      - shell: bash
        if: steps.semantic.outputs.new-release-published == 'true'
        run: |
          echo "DOCKER_TAGS=${DOCKER_TAGS},${RELEASE_VERSION}" >> $GITHUB_ENV;

      - name: echo DOCKER_TAGS
        shell: bash
        run: |
          echo $DOCKER_TAGS;

      - name: push docker images to dockerhub & GCR
        if: steps.semantic.outputs.new-release-published == 'true'
        run: |
          docker tag codfish/actions-playground ghcr.io/codfish/actions-playground:latest
          docker tag codfish/actions-playground codfish/actions-playground:$VERSION_TAG
          docker tag codfish/actions-playground codfish/actions-playground:$MAJOR_TAG
          docker tag codfish/actions-playground ghcr.io/codfish/actions-playground:$VERSION_TAG
          docker tag codfish/actions-playground ghcr.io/codfish/actions-playground:$MAJOR_TAG

          docker push codfish/actions-playground:latest
          docker push codfish/actions-playground:$VERSION_TAG
          docker push codfish/actions-playground:$MAJOR_TAG
          docker push ghcr.io/codfish/actions-playground:latest
          docker push ghcr.io/codfish/actions-playground:$VERSION_TAG
          docker push ghcr.io/codfish/actions-playground:$MAJOR_TAG
        env:
          VERSION_TAG: v${{ steps.semantic.outputs.release-version }}
          MAJOR_TAG: v${{ steps.semantic.outputs.release-major }}

      - name: build docs
        run: |
          npm ci --no-save
          npm run build:docs
          rm ./docs/.gitignore
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      # does not work...
      # Error: The deploy step encountered an error: The process '/usr/bin/git' failed with exit code 128 ❌
      # Deployment failed! ❌
      # ::set-output name=deployment-status::failed
      #
      # - name: deploy documentation
      #   uses: jamesives/github-pages-deploy-action@4.1.0
      #   with:
      #     branch: gh-pages
      #     folder: docs
